//My Colors
$color-primary: #55c57a;
$color-primary-light: #159957;
$color-primary-dark: #155799;

$color-secondary-red-light : #D31027;
$color-secondary-red-dark : #EA384D;
$color-secondary-blue-light : #2998ff;
$color-secondary-blue-dark : #5643fa;
$color-secondary-green-light:#b5ac49;
$color-secondary-green-dark: #3CA55C;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size : 1.6rem;

// /GRID VARIABLES
$grid-width :114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
