.team {
  //BASIC FUNCTIONALITY
  perspective: 150rem; //rotate toward the user
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;

  &__side {
    height: 50rem;
    font-size: 2rem;
    color: black;

    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-red-light,
          $color-secondary-red-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-green-light,
          $color-secondary-green-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-blue-light,
          $color-secondary-blue-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    //to make it work in all browser
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-red-light,
          $color-secondary-red-dark
        ),
        url(../img/leadership1.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-green-light,
          $color-secondary-green-dark
        ),
        url(../img/engineering.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-blue-light,
          $color-secondary-blue-dark
        ),
        url(../img/product.png);
    }
  }

  //HEADING STYLE
  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-red-light, 0.9),
        rgba($color-secondary-red-dark, 0.9)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-green-light, 0.9),
        rgba($color-secondary-green-dark, 0.9)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-blue-light, 0.9),
        rgba($color-secondary-blue-dark, 0.9)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 0.2rem solid #eee;
        }
      }
    }
  }
}
